<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
<body>
    <%- include('./partials/header')%>
    <main>
    <section class="bannerhome">

    </section>
        <section class="info container">
            <h1 class="info__general">Desayunos, Meriendas y Brunchs</h1>
            <p class="info__detallada">Pensamos el catering como un momento especial. Una combinación entre la más alta cocina y un ambiente cálido, donde la vanguardia es el componente principal. En Crystal, gastronomía y diseño van juntos, porque preparar platos es también crear entornos.
                En más de 30 años de experiencia en catering, nuestra meta siguió siendo siempre la misma: renovarnos permanentemente y pensar día a día en nuevas y mejores propuestas para que cada servicio que hacemos no sea uno más, sino uno mejor.</p>
        </section>
     
        </main>
        <%- include('./partials/footer')%>
</body>
</html>