<header>
    <section class="container">
    <nav class="navbar">
        <div class="navbar__marca">
            <img class="navbar__marca--logo" src="/img/TORTA.svg" alt="LOGO"> 
             <h1 class="navbar__marca--crystal">Crystal</h1>
        </div>

        <div>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a class="navbar__link" href="/">HOME</a>
            </li>
            <li class="navbar__item">
            <li class="navbar__item">
                <a class="navbar__link" href="/conocenos">CONOCENOS</a>
            </li>
                <a class="navbar__link" href="/api/servicios">SERVICIOS</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/opiniones">OPINIONES</a>
            </li>
         
        </ul>
        </div>
    </nav>
</section>
</header>